/* Regole descrizione pagina */

.description {
  text-align: center;
}

.search-button {
  width: 200px;
}

.email-list {
  margin-top: 30px;
  text-align: center;
}

.delete-event input {
  width: 110px;
}

.edit-event input {
  width: 110px;
}
