/* Regole generali pagina */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Regole body */

body {
  background-color: #d9e5f3;
  max-width: 1500px;
}

/* Regole Header */

header {
  height: 100px;
  background-color: white;
  border: 1px solid black;
  border-radius: 0 0 13px 13px;
  box-shadow: 2px 2px 5px #0057ff;
}

/* Regole logo header */

#logo {
  height: 20%;
  margin: 20px 0 0 50px;
}

/* Regole immagine logo */

#logo > img {
  max-height: 10%;
}

/* Regole main */
main {
  padding-top: 50px;
  padding-bottom: 190px;
}

/* Regole ellipse */

.ellipse {
  background-color: white;
  border-radius: 50%;
}

.large {
  width: 358px;
  height: 358px;
  margin-top: 100px;
  margin-left: -170px;
  position: relative;
  z-index: 999;
}

.small {
  width: 181px;
  height: 181px;
  margin-top: 250px;
}

.rocket {
  position: absolute;
  width: 10%;
  z-index: 999;
  bottom: 60px;
  right: 20%;
}

.wave-box {
  position: relative;
  height: 200px;
}

.wave-box svg:nth-child(1) {
  position: absolute;
  z-index: 99;
  bottom: 0px;
  left: 0;
}

.wave-box svg:nth-child(2) {
  position: absolute;
  z-index: 9;
  bottom: 0px;
}

.wave-box svg:nth-child(3) {
  position: absolute;
  bottom: 50px;
}

.wave {
  width: 100%;
}
